html {
  height: 100%;
  font-size: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);
}

body {
  min-height: 100vh;
  background-color: #202124;
  background-color: white;
  color:rgb(248, 249, 250);
  color: rgba(0, 0, 0, 0.863);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.status,span{
  text-transform: uppercase;
  font-weight: 600;
}



